@media screen and (max-width: 1140px){
    .container {
        width: 100%;
    }

}

@media screen and (max-width: 768px){
    .container {
        padding: 0 2rem;
        width: 100%;
    }

}

@media screen and (max-width: 480px){
    .container {
        width: 100%;
        padding: 0 2rem;
    }

    .row {
        flex-direction: column;
    }

    .col {
        min-width: 100%;
        padding: 1rem 0;
    }

    .why-us {
        padding: 3rem 0;
        margin-bottom: 0;
        background-color: #222222;
    }

    .steps {
        margin-top: 3rem;
        margin-bottom: 0;
    }
}